openapi: 3.0.3
info:
  title: Mapbox Directions API
  version: "5"
  description: >
    The Mapbox Directions API calculates optimal routes between coordinates
    and produces turn-by-turn instructions. Supports driving, driving-traffic,
    walking, and cycling profiles, with up to 25 waypoints per request.
  termsOfService: https://www.mapbox.com/legal/tos/
  contact:
    name: Mapbox Support
    url: https://support.mapbox.com

servers:
  - url: https://api.mapbox.com

security:
  - accessToken: []

paths:
  /directions/v5/mapbox/{profile}/{coordinates}:
    parameters:
      - name: profile
        in: path
        required: true
        description: The routing profile.
        schema:
          $ref: "#/components/schemas/Profile"

      - name: coordinates
        in: path
        required: true
        allowReserved: true
        description: >
          A semicolon-separated list of 2 to 25 {longitude},{latitude} coordinate pairs.
          Example: -122.42,37.78;-77.03,38.91
        schema:
          type: string

    get:
      summary: Retrieve directions
      operationId: getDirections
      description: >
        Retrieve directions between two to 25 waypoints. Returns one or more
        routes with turn-by-turn instructions, distances, and durations.
      tags:
        - Directions
      parameters:
        - name: alternatives
          in: query
          required: false
          description: Return up to two alternative routes (true) or not (false, default).
          schema:
            type: boolean
            default: false

        - name: annotations
          in: query
          required: false
          description: >
            Return additional metadata along the route as a comma-separated list.
            Requires overview=full.
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AnnotationEnum"

        - name: avoid_maneuver_radius
          in: query
          required: false
          description: >
            Radius in meters (1–1000) around the starting point in which the API
            avoids returning significant maneuvers. Cannot be combined with arrive_by or depart_at.
          schema:
            type: number
            minimum: 1
            maximum: 1000

        - name: bearings
          in: query
          required: false
          description: >
            Semicolon-separated {angle},{degrees} pairs per waypoint.
            Angle: 0–360° clockwise from true north. Degrees: deviation range.
          schema:
            type: string
            example: "45,90;"

        - name: continue_straight
          in: query
          required: false
          description: >
            Direction of travel when departing intermediate waypoints.
            Defaults to true for driving profiles, false for walking and cycling.
          schema:
            type: boolean

        - name: exclude
          in: query
          required: false
          description: >
            Road types or custom points to exclude. Comma-separated list.
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ExcludeEnum"

        - name: include
          in: query
          required: false
          description: Additional road types to include. Driving profiles only.
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/IncludeEnum"

        - name: geometries
          in: query
          required: false
          description: Format of the returned route geometry.
          schema:
            $ref: "#/components/schemas/GeometriesEnum"

        - name: language
          in: query
          required: false
          description: Language of the returned turn-by-turn instructions. Defaults to en.
          schema:
            type: string
            default: en
            example: "fr"

        - name: overview
          in: query
          required: false
          description: Level of detail for the overview geometry.
          schema:
            $ref: "#/components/schemas/OverviewEnum"

        - name: roundabout_exits
          in: query
          required: false
          description: Emit instructions at roundabout exits (true) or not (false, default).
          schema:
            type: boolean
            default: false

        - name: steps
          in: query
          required: false
          description: Return turn-by-turn instructions (true) or not (false, default).
          schema:
            type: boolean
            default: false

        - name: voice_instructions
          in: query
          required: false
          description: Return SSML-formatted voice instructions. Requires steps=true.
          schema:
            type: boolean
            default: false

        - name: banner_instructions
          in: query
          required: false
          description: Return banner instruction objects associated with route steps. Requires steps=true.
          schema:
            type: boolean
            default: false

        - name: voice_units
          in: query
          required: false
          description: Unit system for voice instructions.
          schema:
            $ref: "#/components/schemas/VoiceUnitsEnum"

        - name: notifications
          in: query
          required: false
          description: Include notification objects in the response (all, default) or suppress them (none).
          schema:
            $ref: "#/components/schemas/NotificationsEnum"

        - name: waypoints
          in: query
          required: false
          description: >
            Semicolon-separated zero-based indices indicating which coordinates are waypoints.
            First and last coordinates are always waypoints.
          schema:
            type: string
            example: "0;2;4"

        - name: waypoints_per_route
          in: query
          required: false
          description: >
            Place the waypoints array in each route object instead of the root response.
            Useful with alternatives=true to get separate waypoint sets per route.
          schema:
            type: boolean
            default: false

        - name: waypoint_names
          in: query
          required: false
          description: >
            Semicolon-separated custom names for waypoints. Used in banner and voice instructions.
            Max 500 characters total.
          schema:
            type: string
            example: "Home;Work"

        - name: waypoint_targets
          in: query
          required: false
          description: >
            Semicolon-separated {longitude},{latitude} pairs snapped to waypoints.
            Directs arrival toward a specific entrance. Requires steps=true.
          schema:
            type: string

        - name: approaches
          in: query
          required: false
          description: Semicolon-separated side-of-road approach per waypoint.
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ApproachEnum"

        - name: radiuses
          in: query
          required: false
          description: >
            Semicolon-separated maximum snapping distances (meters) per coordinate.
            Use unlimited for the default snapping radius.
          schema:
            type: string
            example: "100;100"

        - name: layers
          in: query
          required: false
          description: Semicolon-separated road layer per waypoint for multi-level roads (e.g. tunnels).
          schema:
            type: string

        # --- Driving-specific parameters ---
        - name: depart_at
          in: query
          required: false
          description: >
            Departure time in ISO 8601 format (YYYY-MM-DDThh:mm, YYYY-MM-DDThh:mmss±hh:mm,
            YYYY-MM-DDThh:mm:ssZ) or the literal "now".
            Available for mapbox/driving and mapbox/driving-traffic.
          schema:
            type: string
            example: "2024-06-01T08:00"

        - name: arrive_by
          in: query
          required: false
          description: >
            Desired arrival time in ISO 8601 format.
            Available for mapbox/driving and mapbox/driving-traffic.
            Cannot be combined with avoid_maneuver_radius.
          schema:
            type: string
            example: "2024-06-01T10:00"

        - name: alley_bias
          in: query
          required: false
          description: >
            Bias toward or away from alleys. Range -1 (avoid alleys) to 1 (prefer alleys), default 0.
            Available for driving profiles.
          schema:
            type: number
            minimum: -1
            maximum: 1
            default: 0

        - name: max_height
          in: query
          required: false
          description: Maximum vehicle height in meters (0–10, default 1.6). Driving profiles only.
          schema:
            type: number
            minimum: 0
            maximum: 10
            default: 1.6

        - name: max_width
          in: query
          required: false
          description: Maximum vehicle width in meters (0–10, default 1.9). Driving profiles only.
          schema:
            type: number
            minimum: 0
            maximum: 10
            default: 1.9

        - name: max_weight
          in: query
          required: false
          description: Maximum vehicle weight in metric tons (0–100, default 2.5). Driving profiles only.
          schema:
            type: number
            minimum: 0
            maximum: 100
            default: 2.5

        # --- Walking-specific parameters ---
        - name: walking_speed
          in: query
          required: false
          description: Walking speed in m/s (0.14–6.94, default 1.42). mapbox/walking only.
          schema:
            type: number
            minimum: 0.14
            maximum: 6.94
            default: 1.42

        - name: walkway_bias
          in: query
          required: false
          description: >
            Bias toward or away from walkways. Range -1 (avoid) to 1 (prefer), default 0.
            mapbox/walking only.
          schema:
            type: number
            minimum: -1
            maximum: 1
            default: 0

        # --- Driving-traffic-specific parameters ---
        - name: snapping_include_closures
          in: query
          required: false
          description: >
            Semicolon-separated booleans per coordinate. Allows snapping to closed roads.
            mapbox/driving-traffic only.
          schema:
            type: string

        - name: snapping_include_static_closures
          in: query
          required: false
          description: >
            Semicolon-separated booleans per coordinate. Allows snapping to statically closed roads.
            mapbox/driving-traffic only.
          schema:
            type: string

        # --- EV routing parameters ---
        - name: engine
          in: query
          required: false
          description: Set to electric to enable Electric Vehicle routing.
          schema:
            $ref: "#/components/schemas/EngineEnum"

        - name: ev_initial_charge
          in: query
          required: false
          description: Initial battery charge in Wh. Defaults to ev_max_charge.
          schema:
            type: integer

        - name: ev_max_charge
          in: query
          required: false
          description: Maximum battery capacity in Wh. Required when engine=electric.
          schema:
            type: integer

        - name: ev_connector_types
          in: query
          required: false
          description: EV connector types supported by the vehicle.
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/EvConnectorTypeEnum"

        - name: energy_consumption_curve
          in: query
          required: false
          description: >
            Semicolon-separated {speed_kph},{wh_per_km} pairs. Required when engine=electric.
            Example: 0,300;20,160;80,140;120,180
          schema:
            type: string

        - name: ev_charging_curve
          in: query
          required: false
          description: >
            Semicolon-separated {charge_level_wh},{power_w} pairs.
            Example: 0,100000;40000,70000;60000,30000;80000,10000
          schema:
            type: string

        - name: ev_min_charge_at_charging_station
          in: query
          required: false
          description: Minimum charge in Wh to retain at each charging station stop.
          schema:
            type: integer

        - name: ev_min_charge_at_destination
          in: query
          required: false
          description: Minimum charge in Wh to retain at the destination. Defaults to 10% of ev_max_charge.
          schema:
            type: integer

        - name: ev_add_charging_stops
          in: query
          required: false
          description: >
            Automatically add charging stops to the route (true, default).
            When true, limits input to 12 waypoints.
          schema:
            type: boolean
            default: true

        - name: ev_max_ac_charging_power
          in: query
          required: false
          description: Maximum AC charging power in watts. Default 14400.
          schema:
            type: integer
            default: 14400

        - name: auxiliary_consumption
          in: query
          required: false
          description: Auxiliary power consumption in watts (0–10000).
          schema:
            type: integer
            minimum: 0
            maximum: 10000

        - name: ev_regeneration_efficiency
          in: query
          required: false
          description: Regenerative braking efficiency (0.0–1.0, default 0.7).
          schema:
            type: number
            minimum: 0
            maximum: 1
            default: 0.7

      responses:
        "200":
          description: Directions response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectionsResponse"
        "422":
          description: Unprocessable request — invalid parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectionsError"
        "429":
          description: Too many requests
        "500":
          description: Server error

    post:
      summary: Retrieve directions (POST)
      operationId: postDirections
      description: >
        POST version of the Directions endpoint. Use when the coordinate list is too long for a GET URL.
        The coordinates are sent in the request body; all other parameters can be sent as query parameters.
      tags:
        - Directions
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - coordinates
              properties:
                coordinates:
                  type: string
                alternatives:
                  type: boolean
                steps:
                  type: boolean
                geometries:
                  $ref: "#/components/schemas/GeometriesEnum"
                overview:
                  $ref: "#/components/schemas/OverviewEnum"
                annotations:
                  type: array
                  items:
                    $ref: "#/components/schemas/AnnotationEnum"
                language:
                  type: string
                voice_instructions:
                  type: boolean
                banner_instructions:
                  type: boolean
      responses:
        "200":
          description: Directions response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectionsResponse"
        "422":
          description: Unprocessable request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectionsError"

components:
  securitySchemes:
    accessToken:
      type: apiKey
      in: query
      name: access_token

  schemas:

    Profile:
      type: string
      description: The routing profile.
      enum:
        - driving-traffic
        - driving
        - walking
        - cycling

    AnnotationEnum:
      type: string
      description: Annotation type for additional route metadata.
      enum:
        - distance
        - duration
        - speed
        - congestion
        - congestion_numeric
        - maxspeed
        - closure
        - state_of_charge

    ExcludeEnum:
      type: string
      description: Road type or feature to exclude from routing.
      enum:
        - motorway
        - toll
        - ferry
        - unpaved
        - cash_only_tolls
        - country_border
        - state_border
        - tunnel

    IncludeEnum:
      type: string
      description: Additional road type to include for routing.
      enum:
        - hov2
        - hov3
        - hot

    EvConnectorTypeEnum:
      type: string
      description: EV connector type supported by the vehicle.
      enum:
        - ccs_combo_type1
        - ccs_combo_type2
        - chademo
        - tesla

    GeometriesEnum:
      type: string
      description: Format of the returned route geometry.
      default: polyline
      enum:
        - geojson
        - polyline
        - polyline6

    OverviewEnum:
      type: string
      description: >
        Level of detail for the overview geometry. full is most detailed,
        simplified is a reduced version, false omits geometry entirely.
      default: simplified
      enum:
        - full
        - simplified
        - "false"

    VoiceUnitsEnum:
      type: string
      description: Unit system for voice instructions.
      enum:
        - imperial
        - british_imperial
        - metric

    NotificationsEnum:
      type: string
      description: Whether to include notification objects in the response.
      default: all
      enum:
        - all
        - none

    ApproachEnum:
      type: string
      description: Side of the road from which to approach a waypoint.
      enum:
        - unrestricted
        - curb

    EngineEnum:
      type: string
      description: Vehicle engine type. Set to electric to enable EV routing.
      enum:
        - electric

    ResponseCodeEnum:
      type: string
      description: API response code.
      enum:
        - Ok
        - NoRoute
        - NoSegment
        - ProfileNotFound
        - InvalidInput

    CongestionLevelEnum:
      type: string
      description: Qualitative congestion level for a route segment.
      enum:
        - unknown
        - low
        - moderate
        - heavy
        - severe

    DrivingSideEnum:
      type: string
      description: Side of the road on which traffic drives.
      enum:
        - left
        - right

    StepModeEnum:
      type: string
      description: Transport mode for a route step.
      enum:
        - driving
        - walking
        - cycling
        - ferry
        - unaccessible
        - pushing bike
        - train
        - riding

    ManeuverTypeEnum:
      type: string
      description: Type of maneuver at a route step.
      enum:
        - turn
        - new name
        - depart
        - arrive
        - merge
        - on ramp
        - off ramp
        - fork
        - end of road
        - continue
        - roundabout
        - rotary
        - roundabout turn
        - notification
        - exit roundabout
        - exit rotary

    ManeuverModifierEnum:
      type: string
      description: Directional modifier qualifying a maneuver type.
      enum:
        - uturn
        - sharp right
        - right
        - slight right
        - straight
        - slight left
        - left
        - sharp left

    BannerComponentTypeEnum:
      type: string
      description: Type of a banner instruction sub-component.
      enum:
        - text
        - icon
        - delimiter
        - exit-number
        - exit
        - lane

    IncidentTypeEnum:
      type: string
      description: Category of a traffic incident.
      enum:
        - accident
        - congestion
        - construction
        - disabled_vehicle
        - lane_restriction
        - mass_transit
        - miscellaneous
        - other_news
        - planned_event
        - road_closure
        - road_hazard
        - weather

    IncidentImpactEnum:
      type: string
      description: Severity of a traffic incident's impact on travel.
      enum:
        - unknown
        - critical
        - major
        - minor
        - low

    NotificationTypeEnum:
      type: string
      description: Type of route notification.
      enum:
        - violation
        - alert

    RouteGeometry:
      type: object
      description: GeoJSON LineString geometry of the route.
      properties:
        type:
          type: string
          enum:
            - LineString
        coordinates:
          type: array
          items:
            type: array
            items:
              type: number
            minItems: 2
            maxItems: 2

    DirectionsResponse:
      type: object
      properties:
        code:
          $ref: "#/components/schemas/ResponseCodeEnum"
        uuid:
          type: string
          description: Unique identifier of the request, for debugging.
        routes:
          type: array
          description: Array of route objects ordered by recommended rank.
          items:
            $ref: "#/components/schemas/Route"
        waypoints:
          type: array
          description: Snapped input coordinates. Moved into route objects when waypoints_per_route=true.
          items:
            $ref: "#/components/schemas/Waypoint"

    Waypoint:
      type: object
      properties:
        name:
          type: string
          description: Name of the road the waypoint was snapped to.
        location:
          type: array
          description: "[longitude, latitude] of the snapped coordinate."
          items:
            type: number
          minItems: 2
          maxItems: 2
        distance:
          type: number
          description: Distance in meters between the input coordinate and the snapped point.
        hint:
          type: string
          description: Unique identifier for the snapped location, used for result caching.
        time_zone:
          $ref: "#/components/schemas/TimeZone"

    TimeZone:
      type: object
      description: Time zone at the waypoint. Present when depart_at or arrive_by is used.
      properties:
        identifier:
          type: string
          description: IANA time zone identifier (e.g. America/New_York).
        offset:
          type: string
          description: UTC offset string (e.g. -05:00).
        abbreviation:
          type: string
          description: Time zone abbreviation (e.g. EST).

    Route:
      type: object
      properties:
        distance:
          type: number
          description: Total route distance in meters.
        duration:
          type: number
          description: Estimated travel time in seconds.
        duration_typical:
          type: number
          description: Typical travel time without live traffic in seconds. Available for driving-traffic.
        weight:
          type: number
          description: Internal weight used for route ranking.
        weight_name:
          type: string
          description: Name of the weight metric (e.g. routability, duration).
        weight_typical:
          type: number
          description: Typical weight without live traffic. Available for driving-traffic.
        geometry:
          $ref: "#/components/schemas/RouteGeometry"
        legs:
          type: array
          description: Array of route leg objects.
          items:
            $ref: "#/components/schemas/RouteLeg"
        voiceLocale:
          type: string
          description: Locale used for voice instructions. Present when steps=true.
        waypoints:
          type: array
          description: Per-route waypoints. Present when waypoints_per_route=true.
          items:
            $ref: "#/components/schemas/Waypoint"

    RouteLeg:
      type: object
      properties:
        distance:
          type: number
          description: Distance of this leg in meters.
        duration:
          type: number
          description: Estimated duration of this leg in seconds.
        duration_typical:
          type: number
          description: Typical duration without live traffic in seconds. Available for driving-traffic.
        weight:
          type: number
          description: Internal weight for this leg.
        weight_typical:
          type: number
          description: Typical weight without live traffic. Available for driving-traffic.
        summary:
          type: string
          description: Summary of the leg (major roads used).
        steps:
          type: array
          description: Turn-by-turn step objects. Present when steps=true.
          items:
            $ref: "#/components/schemas/RouteStep"
        annotation:
          $ref: "#/components/schemas/Annotation"
        incidents:
          type: array
          description: Traffic incidents on this leg. Available for driving-traffic.
          items:
            $ref: "#/components/schemas/Incident"
        closures:
          type: array
          description: Live-traffic road closures. Present when annotations=closure.
          items:
            $ref: "#/components/schemas/Closure"
        notifications:
          type: array
          items:
            $ref: "#/components/schemas/Notification"
        via_waypoints:
          type: array
          description: Pass-through (intermediate) waypoints on this leg.
          items:
            $ref: "#/components/schemas/ViaWaypoint"
        admins:
          type: array
          description: Administrative regions traversed by this leg.
          items:
            $ref: "#/components/schemas/Admin"

    ViaWaypoint:
      type: object
      description: A pass-through waypoint on a route leg.
      properties:
        waypoint_index:
          type: integer
          description: Index of the corresponding input coordinate.
        distance_from_start:
          type: number
          description: Distance in meters from the start of the leg.
        geometry_index:
          type: integer
          description: Index into the route geometry where this waypoint occurs.

    Admin:
      type: object
      description: Administrative region traversed by the route.
      properties:
        iso_3166_1:
          type: string
          description: ISO 3166-1 alpha-2 country code.
        iso_3166_1_alpha3:
          type: string
          description: ISO 3166-1 alpha-3 country code.

    Annotation:
      type: object
      description: Per-coordinate metadata. Present when the annotations parameter is set.
      properties:
        distance:
          type: array
          items:
            type: number
          description: Distance in meters between each pair of coordinates.
        duration:
          type: array
          items:
            type: number
          description: Duration in seconds between each pair of coordinates.
        speed:
          type: array
          items:
            type: number
          description: Speed in m/s between each pair of coordinates.
        congestion:
          type: array
          items:
            $ref: "#/components/schemas/CongestionLevelEnum"
          description: Qualitative congestion level per coordinate pair.
        congestion_numeric:
          type: array
          items:
            type: integer
            nullable: true
          description: Numeric congestion level (0–100) or null if unknown.
        maxspeed:
          type: array
          items:
            $ref: "#/components/schemas/MaxSpeed"
          description: Maximum speed limit per segment.
        closure:
          type: array
          items:
            type: object
          description: Live-traffic closure objects per segment.

    MaxSpeed:
      type: object
      description: Speed limit for a route segment.
      properties:
        speed:
          type: number
          description: Speed limit value.
        unit:
          type: string
          description: Unit of the speed limit.
          enum:
            - km/h
            - mph
        unknown:
          type: boolean
          description: True if the speed limit is unknown.
        none:
          type: boolean
          description: True if there is no speed limit (unlimited).

    RouteStep:
      type: object
      properties:
        distance:
          type: number
          description: Distance of this step in meters.
        duration:
          type: number
          description: Estimated duration of this step in seconds.
        duration_typical:
          type: number
          description: Typical duration without live traffic.
        weight:
          type: number
        weight_typical:
          type: number
        geometry:
          $ref: "#/components/schemas/RouteGeometry"
        name:
          type: string
          description: Name of the road or path.
        ref:
          type: string
          description: Road designation (e.g. highway number).
        destinations:
          type: string
          description: Destinations signposted at the road.
        exits:
          type: string
          description: Exit numbers or names.
        driving_side:
          $ref: "#/components/schemas/DrivingSideEnum"
        mode:
          $ref: "#/components/schemas/StepModeEnum"
        pronunciation:
          type: string
          description: IPA pronunciation of the step name.
        maneuver:
          $ref: "#/components/schemas/StepManeuver"
        intersections:
          type: array
          items:
            type: object
          description: Intersections along this step.
        voiceInstructions:
          type: array
          items:
            $ref: "#/components/schemas/VoiceInstruction"
        bannerInstructions:
          type: array
          items:
            $ref: "#/components/schemas/BannerInstruction"
        speedLimitSign:
          type: string
          description: Speed limit sign convention. Present when annotations=maxspeed.
          enum:
            - mutcd
            - vienna
        speedLimitUnit:
          type: string
          description: Speed limit unit. Present when annotations=maxspeed.
          enum:
            - km/h
            - mph

    StepManeuver:
      type: object
      properties:
        location:
          type: array
          items:
            type: number
          minItems: 2
          maxItems: 2
          description: "[longitude, latitude] of the maneuver."
        bearing_before:
          type: integer
          description: Bearing before the maneuver (0–359°).
        bearing_after:
          type: integer
          description: Bearing after the maneuver (0–359°).
        type:
          $ref: "#/components/schemas/ManeuverTypeEnum"
        modifier:
          $ref: "#/components/schemas/ManeuverModifierEnum"
        instruction:
          type: string
          description: Human-readable instruction for this maneuver.
        exit:
          type: integer
          description: Exit number for roundabout or rotary maneuvers.

    VoiceInstruction:
      type: object
      properties:
        distanceAlongGeometry:
          type: number
          description: Distance in meters from the step at which to play this instruction.
        announcement:
          type: string
          description: Plain-text version of the instruction.
        ssmlAnnouncement:
          type: string
          description: SSML-formatted version for text-to-speech.

    BannerInstruction:
      type: object
      properties:
        distanceAlongGeometry:
          type: number
          description: Distance in meters from the step at which to show this banner.
        primary:
          $ref: "#/components/schemas/BannerComponent"
        secondary:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/BannerComponent"
        then:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/BannerComponent"
        sub:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/BannerComponent"

    BannerComponent:
      type: object
      properties:
        text:
          type: string
          description: Full text of the instruction.
        type:
          $ref: "#/components/schemas/ManeuverTypeEnum"
        modifier:
          $ref: "#/components/schemas/ManeuverModifierEnum"
        degrees:
          type: number
          description: Degrees for roundabout instructions.
        driving_side:
          $ref: "#/components/schemas/DrivingSideEnum"
        components:
          type: array
          description: Sub-components for abbreviated rendering.
          items:
            type: object
            properties:
              text:
                type: string
              type:
                $ref: "#/components/schemas/BannerComponentTypeEnum"
              abbr:
                type: string
                description: Abbreviated form of the text.
              abbr_priority:
                type: integer
                description: Abbreviation priority — lower value means higher priority.

    Closure:
      type: object
      description: A live-traffic road closure on a route segment.
      properties:
        geometry_index_start:
          type: integer
          description: Start index in the route geometry.
        geometry_index_end:
          type: integer
          description: End index in the route geometry.

    Incident:
      type: object
      properties:
        id:
          type: string
        type:
          $ref: "#/components/schemas/IncidentTypeEnum"
        description:
          type: string
        creation_time:
          type: string
          format: date-time
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
          nullable: true
        impact:
          $ref: "#/components/schemas/IncidentImpactEnum"
        congestion:
          type: object
          properties:
            value:
              type: integer
        geometry_index_start:
          type: integer
        geometry_index_end:
          type: integer
        long_description:
          type: string
        lanes_blocked:
          type: array
          items:
            type: string
        num_lanes_blocked:
          type: integer
          nullable: true
        affected_road_names:
          type: array
          items:
            type: string

    Notification:
      type: object
      properties:
        type:
          $ref: "#/components/schemas/NotificationTypeEnum"
        geometry_index_start:
          type: integer
        geometry_index_end:
          type: integer
        details:
          type: object
          properties:
            type:
              type: string
            message:
              type: string

    DirectionsError:
      type: object
      properties:
        code:
          $ref: "#/components/schemas/ResponseCodeEnum"
        message:
          type: string
          description: Human-readable error message.

tags:
  - name: Directions
    description: Calculate routes between coordinates.
