openapi: 3.0.3
info:
  title: Mapbox Geocoding API
  version: "6"
  description: >
    The Mapbox Geocoding API performs forward and reverse geocoding.
    Forward geocoding converts location text into geographic coordinates.
    Reverse geocoding turns geographic coordinates into place names.
    Supports structured input, batch geocoding (up to 1000 queries), and
    building entrance locations (public preview).
  termsOfService: https://www.mapbox.com/legal/tos/
  contact:
    name: Mapbox Support
    url: https://support.mapbox.com

servers:
  - url: https://api.mapbox.com

security:
  - accessToken: []

paths:
  /search/geocode/v6/forward:
    get:
      summary: Forward geocoding
      operationId: forwardGeocode
      description: >
        Convert location text into geographic coordinates. Supports both
        free-text search (via `q`) and structured input (via individual
        address component parameters). When using structured input, omit
        `q` and use `address_number`, `street`, `place`, etc. instead.
        Set `autocomplete=false` when using structured input for best results.
      tags:
        - Geocoding
      parameters:
        # --- Required ---
        - name: access_token
          in: query
          required: true
          description: A valid Mapbox access token.
          schema:
            type: string

        # --- Free-text search ---
        - name: q
          in: query
          required: false
          description: >
            The feature to look up (address, city, etc.). URL-encoded UTF-8
            string. Must not contain a semicolon. At most 20 words/numbers
            and 256 characters. Required for free-text search; omit when
            using structured input.
          schema:
            type: string
            example: "Los Angeles"

        # --- Structured input parameters ---
        - name: address_line1
          in: query
          required: false
          description: >
            Combined address number and street name. Alternative to providing
            `address_number` and `street` separately.
          schema:
            type: string
            example: "1600 Pennsylvania Ave NW"

        - name: address_number
          in: query
          required: false
          description: The house or building number of the address.
          schema:
            type: string
            example: "1600"

        - name: street
          in: query
          required: false
          description: The street name of the address.
          schema:
            type: string
            example: "Pennsylvania Avenue NW"

        - name: block
          in: query
          required: false
          description: Block component of the address. Used in countries such as Japan.
          schema:
            type: string

        - name: place
          in: query
          required: false
          description: City, village, or municipality component of the address.
          schema:
            type: string
            example: "Washington DC"

        - name: region
          in: query
          required: false
          description: >
            Top-level sub-national feature (state, province, etc.).
            Used as a hard filter when an ISO 3166-1 code is provided,
            or as a soft influence when a full name is provided.
          schema:
            type: string
            example: "DC"

        - name: postcode
          in: query
          required: false
          description: Postal code component of the address.
          schema:
            type: string
            example: "20500"

        - name: locality
          in: query
          required: false
          description: >
            Official sub-city administrative unit (city district,
            arrondissement, etc.).
          schema:
            type: string

        - name: neighborhood
          in: query
          required: false
          description: >
            Colloquial sub-city feature. Typically lacks official status.
            Not available for reverse geocoding.
          schema:
            type: string

        - name: country
          in: query
          required: false
          description: >
            Limit results to one or more countries. Comma-separated
            ISO 3166-1 alpha-2 country codes. When used in structured
            input with an ISO code it acts as a hard filter; when a full
            country name is passed it influences results without hard filtering.
          schema:
            type: string
            example: "us,ca"

        # --- Shared optional parameters ---
        - name: permanent
          in: query
          required: false
          description: >
            Whether the results may be cached/stored indefinitely (`true`)
            or not (`false`, default). Permanent geocoding requires a valid
            credit card or enterprise contract on file.
          schema:
            type: boolean
            default: false

        - name: autocomplete
          in: query
          required: false
          description: >
            Whether to return prefix-match autocomplete results (`true`,
            default) or only exact matches (`false`). Each keystroke counts
            as one request when autocomplete is enabled. Set to `false` when
            using structured input.
          schema:
            type: boolean
            default: true

        - name: bbox
          in: query
          required: false
          description: >
            Limit results to those within the bounding box, supplied as
            four comma-separated numbers in `minLon,minLat,maxLon,maxLat`
            order. Cannot cross the 180th meridian.
          schema:
            type: string
            example: "-122.5,37.6,-122.3,37.9"

        - name: format
          in: query
          required: false
          description: >
            Desired response format. Use `geojson` (default) or `v5` for
            backwards compatibility with the v5 API.
          schema:
            $ref: "#/components/schemas/FormatEnum"

        - name: language
          in: query
          required: false
          description: >
            IETF language tag(s) for the response text language. Multiple
            values can be comma-separated; the first is the primary language.
            Also biases result scoring toward the requested language.
          schema:
            type: string
            example: "fr"

        - name: limit
          in: query
          required: false
          description: >
            Maximum number of results to return. Default is `5`, maximum is `10`.
          schema:
            type: integer
            default: 5
            minimum: 1
            maximum: 10

        - name: proximity
          in: query
          required: false
          description: >
            Bias results toward a location. Provide as `longitude,latitude`
            or the string `ip` for IP-based lookup.
          schema:
            type: string
            example: "2.3514,48.8566"

        - name: types
          in: query
          required: false
          description: >
            Filter results to one or more feature types. Comma-separated list.
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/FeatureTypeEnum"
            example: [address, place]

        - name: worldview
          in: query
          required: false
          description: >
            Regional audience worldview for disputed geographic features.
            Defaults to `us`. Only one worldview per request is supported.
          schema:
            $ref: "#/components/schemas/WorldviewEnum"

        - name: entrances
          in: query
          required: false
          description: >
            Whether to include building entrance locations in address feature
            responses (`true`) or not (`false`, default).
            This parameter is in Public Preview.
          schema:
            type: boolean
            default: false

      responses:
        "200":
          description: Geocoding response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeocodingResponse"
        "400":
          description: Bad request — missing or invalid parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeocodingError"
        "401":
          description: Unauthorized — invalid access token
        "429":
          description: Too many requests
        "500":
          description: Server error

  /search/geocode/v6/reverse:
    get:
      summary: Reverse geocoding
      operationId: reverseGeocode
      description: >
        Convert geographic coordinates into place names. Returns features
        ordered from most to least specific (address → region → country).
        Increasing `limit` beyond the default requires specifying exactly
        one `types` value.
      tags:
        - Geocoding
      parameters:
        - name: access_token
          in: query
          required: true
          description: A valid Mapbox access token.
          schema:
            type: string

        - name: longitude
          in: query
          required: true
          description: Longitude of the coordinate to reverse geocode.
          schema:
            type: number
            example: -73.989

        - name: latitude
          in: query
          required: true
          description: Latitude of the coordinate to reverse geocode.
          schema:
            type: number
            example: 40.733

        - name: permanent
          in: query
          required: false
          description: >
            Whether the results may be cached/stored indefinitely (`true`)
            or not (`false`, default).
          schema:
            type: boolean
            default: false

        - name: country
          in: query
          required: false
          description: >
            Limit results to one or more countries. Comma-separated
            ISO 3166-1 alpha-2 country codes.
          schema:
            type: string
            example: "fr"

        - name: language
          in: query
          required: false
          description: >
            IETF language tag(s) for the response text. Multiple values
            can be comma-separated; the first is the primary language.
          schema:
            type: string
            example: "en"

        - name: limit
          in: query
          required: false
          description: >
            Maximum number of results to return. Default is `1`, maximum is `5`.
            Values above the default require specifying exactly one `types` value.
          schema:
            type: integer
            default: 1
            minimum: 1
            maximum: 5

        - name: types
          in: query
          required: false
          description: >
            Filter results to one or more feature types. Comma-separated list.
            Required when `limit` is greater than `1`.
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/FeatureTypeEnum"
            example: [address]

        - name: worldview
          in: query
          required: false
          description: >
            Regional audience worldview for disputed geographic features.
            Defaults to `us`. Only one worldview per request is supported.
          schema:
            $ref: "#/components/schemas/WorldviewEnum"

      responses:
        "200":
          description: Reverse geocoding response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeocodingResponse"
        "400":
          description: Bad request — missing or invalid parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeocodingError"
        "401":
          description: Unauthorized — invalid access token
        "429":
          description: Too many requests
        "500":
          description: Server error

  /search/geocode/v6/batch:
    post:
      summary: Batch geocoding
      operationId: batchGeocode
      description: >
        Submit up to 1000 forward or reverse geocoding queries in a single
        request. Each query in the batch is billed as one individual request.
        The request body is a JSON array of query objects; each object may
        include any combination of forward, structured-input, or reverse
        parameters. Array-type fields (`types`, `country`, `bbox`, `proximity`)
        may be passed as comma-separated strings or JSON arrays.
      tags:
        - Geocoding
      parameters:
        - name: access_token
          in: query
          required: true
          description: A valid Mapbox access token.
          schema:
            type: string

        - name: permanent
          in: query
          required: false
          description: >
            Whether all queries in the batch may be cached/stored (`true`)
            or not (`false`, default). Can be overridden per-query in the body.
          schema:
            type: boolean
            default: false

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              maxItems: 1000
              items:
                $ref: "#/components/schemas/BatchQueryItem"
            example:
              - types: [address]
                q: "1600 Pennsylvania Avenue NW, Washington, DC 20500"
                limit: 1
              - types: [address]
                longitude: -73.986136
                latitude: 40.748895

      responses:
        "200":
          description: Batch geocoding response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchGeocodingResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeocodingError"
        "401":
          description: Unauthorized — invalid access token
        "429":
          description: Too many requests
        "500":
          description: Server error

components:
  securitySchemes:
    accessToken:
      type: apiKey
      in: query
      name: access_token

  schemas:

    # -------------------------------------------------------------------------
    # Enum schemas
    # -------------------------------------------------------------------------

    FeatureTypeEnum:
      type: string
      description: Geographic feature type for filtering or classifying results.
      enum:
        - country
        - region
        - postcode
        - district
        - place
        - locality
        - neighborhood
        - street
        - block
        - address
        - secondary_address

    WorldviewEnum:
      type: string
      description: >
        Regional audience worldview for features with disputed boundaries
        or definitions. Affects country and region data types.
      enum:
        - ar
        - cn
        - in
        - jp
        - ma
        - rs
        - ru
        - tr
        - us

    CoordinateAccuracyEnum:
      type: string
      description: Point accuracy metric for address-type features.
      enum:
        - rooftop
        - parcel
        - point
        - interpolated
        - approximate
        - intersection

    MatchCodeValueEnum:
      type: string
      description: How a single address component matched the query.
      enum:
        - matched
        - unmatched
        - not_applicable
        - inferred
        - plausible

    MatchCodeConfidenceEnum:
      type: string
      description: Overall confidence score for an address match.
      enum:
        - exact
        - high
        - medium
        - low

    FormatEnum:
      type: string
      description: Response format.
      enum:
        - geojson
        - v5

    RoutablePointNameEnum:
      type: string
      description: >
        Identifier for a routable point. `default` is the standard vehicle
        stopping location; `entrance` is the physical door/entrance (public preview).
      enum:
        - default
        - entrance

    # -------------------------------------------------------------------------
    # Request schemas
    # -------------------------------------------------------------------------

    BatchQueryItem:
      type: object
      description: >
        A single query within a batch geocoding request. May represent a
        forward (using `q`), structured-input (using address component fields),
        or reverse (using `longitude` + `latitude`) geocoding query.
      properties:
        q:
          type: string
          description: Free-text search query. Omit when using structured input.
        longitude:
          type: number
          description: Longitude for reverse geocoding.
        latitude:
          type: number
          description: Latitude for reverse geocoding.
        address_line1:
          type: string
          description: Combined address number and street name.
        address_number:
          type: string
          description: House or building number.
        street:
          type: string
          description: Street name.
        block:
          type: string
          description: Block component (used in Japan).
        place:
          type: string
          description: City or municipality.
        region:
          type: string
          description: State, province, or equivalent.
        postcode:
          type: string
          description: Postal code.
        locality:
          type: string
          description: Official sub-city administrative unit.
        neighborhood:
          type: string
          description: Colloquial sub-city feature.
        country:
          type: string
          description: >
            ISO 3166-1 alpha-2 country code(s), comma-separated,
            or a JSON array of codes.
        permanent:
          type: boolean
          description: Whether this individual query result may be stored.
          default: false
        autocomplete:
          type: boolean
          description: Whether to use prefix-match autocomplete for this query.
          default: true
        bbox:
          description: >
            Bounding box filter as `[minLon, minLat, maxLon, maxLat]` or a
            comma-separated string.
          oneOf:
            - type: string
            - type: array
              items:
                type: number
              minItems: 4
              maxItems: 4
        language:
          type: string
          description: IETF language tag(s), comma-separated.
        limit:
          type: integer
          description: Maximum number of results for this query.
          minimum: 1
          maximum: 10
        proximity:
          type: string
          description: Proximity bias as `longitude,latitude` or `ip`.
        types:
          description: >
            Feature type filter as a comma-separated string or JSON array.
          oneOf:
            - type: string
            - type: array
              items:
                $ref: "#/components/schemas/FeatureTypeEnum"
        worldview:
          $ref: "#/components/schemas/WorldviewEnum"

    # -------------------------------------------------------------------------
    # Response schemas
    # -------------------------------------------------------------------------

    GeocodingResponse:
      type: object
      description: A GeoJSON FeatureCollection of geocoding results.
      properties:
        type:
          type: string
          enum:
            - FeatureCollection
          description: GeoJSON type identifier.
        features:
          type: array
          description: >
            Geocoding result features. For forward geocoding, ordered by
            relevance. For reverse geocoding, ordered from most to least
            specific.
          items:
            $ref: "#/components/schemas/GeocodingFeature"
        attribution:
          type: string
          description: Mapbox attribution notice.

    BatchGeocodingResponse:
      type: object
      description: Response to a batch geocoding request.
      properties:
        batch:
          type: array
          description: >
            Array of GeocodingResponse objects in the same order as the
            input queries. Queries with no results return an empty `features`
            array.
          items:
            $ref: "#/components/schemas/GeocodingResponse"

    GeocodingFeature:
      type: object
      description: A single GeoJSON Feature returned by the Geocoding API.
      properties:
        id:
          type: string
          description: >
            Unique feature identifier. Conforms to GeoJSON spec; equivalent
            to `mapbox_id` in the properties object.
        type:
          type: string
          enum:
            - Feature
        geometry:
          $ref: "#/components/schemas/GeoJsonPoint"
        properties:
          $ref: "#/components/schemas/GeocodingFeatureProperties"

    GeoJsonPoint:
      type: object
      description: GeoJSON Point geometry.
      properties:
        type:
          type: string
          enum:
            - Point
        coordinates:
          type: array
          description: "[longitude, latitude] of the feature centroid."
          items:
            type: number
          minItems: 2
          maxItems: 2

    GeocodingFeatureProperties:
      type: object
      description: Properties of a geocoding result feature.
      properties:
        mapbox_id:
          type: string
          description: >
            Unique identifier for this place in the Mapbox search database.
            Can be passed as a forward geocoding query to retrieve the feature directly.
        feature_type:
          $ref: "#/components/schemas/FeatureTypeEnum"
        name:
          type: string
          description: Formatted string of address number and street, or place name.
        name_preferred:
          type: string
          description: >
            Canonical or more common alias for the feature name. For example,
            searching "America" may return "United States" as `name_preferred`.
        place_formatted:
          type: string
          description: >
            Formatted context string: place, region, country, postcode.
            The portion of the full address that follows `name`.
        full_address:
          type: string
          description: Full formatted string combining `name_preferred` and `place_formatted`.
        context:
          $ref: "#/components/schemas/ContextObject"
        coordinates:
          $ref: "#/components/schemas/FeatureCoordinates"
        bbox:
          type: array
          description: >
            Bounding box as `[minLon, minLat, maxLon, maxLat]`. Only present
            for country, region, postcode, district, place, locality, and
            neighborhood features.
          items:
            type: number
          minItems: 4
          maxItems: 4
        match_code:
          $ref: "#/components/schemas/MatchCode"

    FeatureCoordinates:
      type: object
      description: Geographic position and accuracy of the feature.
      properties:
        longitude:
          type: number
          description: Longitude of the result.
        latitude:
          type: number
          description: Latitude of the result.
        accuracy:
          $ref: "#/components/schemas/CoordinateAccuracyEnum"
        routable_points:
          type: array
          description: >
            Auxiliary routable points for the address. Includes a `default`
            vehicle stopping point (always present) and optionally an
            `entrance` point (public preview).
          items:
            $ref: "#/components/schemas/RoutablePoint"

    RoutablePoint:
      type: object
      description: A navigable point associated with an address feature.
      properties:
        name:
          $ref: "#/components/schemas/RoutablePointNameEnum"
        longitude:
          type: number
        latitude:
          type: number

    ContextObject:
      type: object
      description: >
        Hierarchical administrative context for a feature. Sub-objects are
        included based on data coverage for the given country or area.
      properties:
        address:
          $ref: "#/components/schemas/ContextAddress"
        secondary_address:
          $ref: "#/components/schemas/ContextSecondaryAddress"
        street:
          $ref: "#/components/schemas/ContextEntry"
        neighborhood:
          $ref: "#/components/schemas/ContextEntryWithAlternate"
        postcode:
          $ref: "#/components/schemas/ContextEntry"
        locality:
          $ref: "#/components/schemas/ContextEntryWithWikidata"
        place:
          $ref: "#/components/schemas/ContextEntryWithAlternate"
        district:
          $ref: "#/components/schemas/ContextEntryWithWikidata"
        region:
          $ref: "#/components/schemas/ContextRegion"
        country:
          $ref: "#/components/schemas/ContextCountry"

    ContextEntry:
      type: object
      description: Base context sub-object with a Mapbox ID and name.
      properties:
        mapbox_id:
          type: string
        name:
          type: string
        translations:
          type: object
          description: >
            Language translations keyed by IETF language code. Present
            when multiple languages are requested.
          additionalProperties:
            $ref: "#/components/schemas/Translation"

    ContextEntryWithWikidata:
      allOf:
        - $ref: "#/components/schemas/ContextEntry"
        - type: object
          properties:
            wikidata_id:
              type: string
              description: Wikidata identifier for the feature.

    ContextEntryWithAlternate:
      allOf:
        - $ref: "#/components/schemas/ContextEntryWithWikidata"
        - type: object
          properties:
            alternate:
              $ref: "#/components/schemas/ContextEntry"

    ContextAddress:
      allOf:
        - $ref: "#/components/schemas/ContextEntry"
        - type: object
          properties:
            address_number:
              type: string
              description: House or building number.
            street_name:
              type: string
              description: Street name.

    ContextSecondaryAddress:
      allOf:
        - $ref: "#/components/schemas/ContextEntry"
        - type: object
          properties:
            designator:
              type: string
              description: Designator token (e.g. "UNIT", "APT", "SUITE").
            identifier:
              type: string
              description: Unit identifier (e.g. "201", "A", "12B").
            extrapolated:
              type: boolean
              description: >
                Whether the secondary address was extrapolated from parent
                address data rather than directly matched.

    ContextRegion:
      allOf:
        - $ref: "#/components/schemas/ContextEntryWithAlternate"
        - type: object
          properties:
            region_code:
              type: string
              description: ISO 3166-2 subdivision code (e.g. "DC", "CA").
            region_code_full:
              type: string
              description: Full ISO 3166-2 code including country prefix (e.g. "US-DC").

    ContextCountry:
      allOf:
        - $ref: "#/components/schemas/ContextEntryWithAlternate"
        - type: object
          properties:
            country_code:
              type: string
              description: ISO 3166-1 alpha-2 country code (e.g. "US").
            country_code_alpha_3:
              type: string
              description: ISO 3166-1 alpha-3 country code (e.g. "USA").

    Translation:
      type: object
      description: A single language translation entry.
      properties:
        language:
          type: string
          description: IETF language code (e.g. "en", "es").
        name:
          type: string
          description: Feature name in this language.

    MatchCode:
      type: object
      description: >
        Breakdown of how each component of the result matches the input query.
        Only available for address-type features from forward geocoding requests.
        Works best with Structured Input.
      properties:
        address_number:
          $ref: "#/components/schemas/MatchCodeValueEnum"
        street:
          $ref: "#/components/schemas/MatchCodeValueEnum"
        postcode:
          $ref: "#/components/schemas/MatchCodeValueEnum"
        place:
          $ref: "#/components/schemas/MatchCodeValueEnum"
        region:
          $ref: "#/components/schemas/MatchCodeValueEnum"
        locality:
          $ref: "#/components/schemas/MatchCodeValueEnum"
        country:
          $ref: "#/components/schemas/MatchCodeValueEnum"
        confidence:
          $ref: "#/components/schemas/MatchCodeConfidenceEnum"

    GeocodingError:
      type: object
      description: Error response from the Geocoding API.
      properties:
        message:
          type: string
          description: Human-readable error message.

tags:
  - name: Geocoding
    description: Forward, reverse, and batch geocoding operations.
